
.job-details {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.heading {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  color: #444;
  margin-bottom: 15px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}

.update-back-delete-btn{
  display: flex;
}

.update {
  background-color: #28a745;
}

.back {
  background-color: #6e6767;
}

.delete {
  background-color: #dc3545;
}
