.filter-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  
}

.filter-button {
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: #dadddf;
  color: black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 300px;
  position: relative;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #969799;
}

.arrow {
  margin-left: 8px;
}

.filter-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  position: absolute;
  top: 100%;
  left: 10;
  z-index: 1000;
  font-size: 12px;
  text-align: left;
  max-height: 150px;
  transition: max-height 0.3s ease-out;
}

.filter-menu li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.filter-menu li:hover {
  background-color: #f1f1f1;
  color: #007bff;
}

.filter-menu li:active {
  background-color: #e2e2e2;
}

/* Media Query para Responsividade */
@media (max-width: 480px) {
  .filter-button {
    font-size: 14px;
    padding: 10px 15px;
  }
}
