/* DeleteJob.css */

.delete-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 350px;
  margin: auto;
  position: relative; /* Allows absolute positioning of child elements */
}

.delete-confirm-message {
  font-size: 20px;
}

.cancel-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.delete-container div {
  margin-bottom: 20px;
  text-align: center;
}
.btn{
  display: flex;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 5px;
}

.delete-confirm-btn:hover,
.delete-cancel-btn:hover {
  background-color: #c9c9c9;
}

.delete-cancel-btn,
.delete-confirm-btn {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin: 5px;

}

.delete-cancel-btn {
  background-color: #4a4444;
}

.delete-confirm-btn {
  background-color: #d9534f;
  color: #fff;
}