

.navbar {
    margin-left: 10px; 
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.navbar-button {
    display: flex;
    align-items: center;
}

.navbar-tittle {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 20px;
    margin: 0;
}


@media (max-width: 1024px) {
    .navbar {
        justify-content: space-between;
    }
}


@media (max-width: 360px) {
    .navbar {
        margin-left: 5px;  
        margin-right: 20px;
    }
  
    h1 {
        font-size: 18px;  
    }
}




