body {
  margin: 0;
  padding: 0;
}

.title h1{
  margin-top: 80px;
  padding-top: 40px;
}


.jobItem {
  width: 95%;
  padding: 12px;
  display: flex;
  border: 5px solid #fff;
  border-bottom: 1px solid #ddd;
  background-color: #FFFFFF;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  height:10vh
}
.left-container {
  width: 120%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.right-container {
  width: 60%;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.interviewDate{
  margin-top: 10px;
  font-weight: 700;
  font-size: small;
}
.jobItem:hover {
  transform: scale(1.02);
}
.heart-icon {
  font-size: 24px;
}
.favoriteIcon .heart-icon {
  color: red;
}
.favoriteIcon .heart-icon:hover {
  color: darkred;
}

@media (max-width: 360px) {
  .jobItem {
    padding: 8px;
    border: 2px solid #fff;
    height: auto;
  }

  .left-container, .right-container {
    width: 100%;
    align-items: center;
  }

  .left-container {
    margin-bottom: 8px;
  }

  .heart-icon {
    font-size: 20px;
  }
}