.search-container {
    width: 100%;
    max-width: 500px;
    margin: 20px 20px;
    background-color: #ECE6F0;
    border-radius: 10px;
    width: 90%;
    
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 48px;
    border: 1px solid #ccc;
    background: url("https://img.icons8.com/ios-filled/23/search--v1.png" ) no-repeat;
    background-position: 10px 12px;
  }
  
  .search-results {
    margin-top: 10px;
  }
  
  .search-item {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
  }
  