
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-label {
    margin-bottom: 5px;
  }
  
  .login-input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .login-button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-footer {
    margin-top: 20px;
    text-align: center;
  }
  
  .login-reset {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .login-text {
    margin-top: 10px;
  }
  
  .login-signUp {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
  }
  