  .sort-container {
      position: relative;
      display: block;
      float: left;
      justify-content: center;
      width: 50%;
      margin: 0 0;
      
    }

    

    .sort-button {
      padding: 12px 20px;
      margin-left: 20px;
      font-size: 14px;
      cursor: pointer;
      background-color: #ECE6F0;
      color: black;
      border-radius: 10px;
      border-color: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      max-width: 300px;
      position: relative;
      transition: background-color 0.3s;
    }

    .sort-button:hover {
      background-color: #969799;
    }

    .arrow {
      margin-left: 8px;
    }

    .sort-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: white;
      border-radius: 10px;
      width: 90%;
      position: absolute;
      top: 100%;
      left: 12px;
      z-index: 1000;
      font-size: 12px;
      text-align: left;
      transition: max-height 0.3s ease-out;
    }
    
    .sort-menu li {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.2s;
    }
    
    .sort-menu li:hover {
      background-color: #f1f1f1;
      color: #007bff;
    }
    
    .sort-menu li:active {
      background-color: #e2e2e2;
    }

    .sort-separator {
      height: 1px;
      width: 90%;
      background-color: #ddd;
      margin: 10px auto; /* Add space around the separator */
    }

    @media (max-width: 360px) {
      .sort-button {
        font-size: 12px;
        padding: 10px 15px;
      }
    
      .sort-menu li {
        padding: 8px;
      }
    
      .sort-separator {
        width: 100%;
      }
    }
    